{% extends 'base.html' %}


{% block content %}
    <h3>Login Page</h3>
    <form method="POST" action="{% url 'main:my-login' %}">
        {% csrf_token %}
        <table>
          <tr>
            <td>{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
          </tr>
          <tr>
            <td>{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
          </tr>
        </table>
        <input type="submit" value="login">

        <p><a href="">Forgot password?</a></p>
    </form>
{% endblock %}


