{% extends 'base.html' %}


{% block content %}
    <section class="vh-100" style="background-color: #508bfc;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <h3 class="mb-5">Sign in</h3>

                <form method="POST" action="{% url 'main:my-login' %}">
                    {% csrf_token %}
                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label">{{ form.username.label_tag }}</label>
                        {{ form.username }}
                    </div>

                    <div data-mdb-input-init class="form-outline mb-4">
                      <label class="form-label">{{ form.password.label_tag }}</label>
                        {{ form.password }}
                    </div>
                    <input type="submit" value="login">

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endblock %}







