{% extends 'base.html' %}


{% block content %}
    <section class="intro">
        <div class="mask d-flex align-items-center h-100" style="background-color: #D6D6D6;">
          <div class="container">
            <div class="row justify-content-center">
              <div class="col-12 col-lg-10">
                <div class="card" style="border-radius: 1rem;">
                  <div class="card-body p-5">

                    <h3 class="mb-5 text-center">Edit Appointment</h3>
                    <a href="{%  url 'appts:index' %}">Cancel</a>

                    <form method="POST" class="form">
                      {% csrf_token %}
                      <!-- Student -->
                      <div class="form-group">
                        <label class="form-label">{{ form.student.label_tag }}</label>
                        {{ form.student }}
                      </div>
                      <!-- Topic -->
                      <div class="form-group">
                        <label class="form-label">{{ form.topic.label_tag }}</label>
                        {{ form.topic }}
                      </div>
                      <!-- Note -->
                      <div class="form-outline mb-4">
                        <label class="form-label">{{ form.note.label_tag }}</label>
                        {{ form.note }}
                      </div>
                      <!-- Date of Appointment/Occurred -->
                      <div class="form-outline mb-4">
                        <label class="form-label">Date of Appointment</label>
                        {{ form.occurred }}
                      </div>
                      <!-- Submit button -->
                      <button data-mdb-ripple-init type="submit" value="Save" class="btn btn-primary btn-block mb-4">Save</button>
                    </form>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
{% endblock %}